/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

.box {
  border-left: 0;
  border: 1px solid #C0C0C0;
  padding: 0;
  height: 25px;
  /*background: #DCDCDC*/
}

.button {
    background-color: #DCDCDC;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}

.line {
  border-left: 0;
  /*border: 1px solid #C0C0C0;*/
  border: 1.25px dashed #00A79D
}

.space {
  border-left: 0;
  padding: 0;
  height: 25px;
}

.largeBox {
  border-left: 0;
  padding: 0;
  height: 170px;
  /*background: #F5F5F5;*/
  background: #00A79D;
}

.extraLargeBox {
  border-left: 0;
  padding: 0;
  height: 205px;
  /*background: #F5F5F5;*/
  background: #00A79D;
}

.title {
  float: left;
  padding-left: 20px;
  color: black;
  font-size: 22px;
  font-family: Verdana;
  font-weight: 500;
}

.subtitle{
  float: left;
  /*color: gray;*/
  color: white;
  font-size: 18px;
  font-family: Verdana;
  font-weight: 300;
}

.address {
  float: left;
  color: black;
  font-size: 16px;
  /*font-fmaily: sans-serif;*/
  font-family: cursive;
  font-weight: 500;
  line-height: 5px;
}
